/*
	SELECTORES CSS3
	clases "."
	id "#"
	etiqueta "nombre de etiqueta--->ul, div, p....etc"

*/


body{
	background-attachment: fixed;
	background-color: #fff8e1;
	background-image: url("/images/prevlog1.png");
	background-repeat: no-repeat;
	background-position: center;
}

#section{
	margin-top: 20px;
	border-width: 3px;
	border-style: outset;
	background-color: #fff3e0; 
}

.contenedor{

	margin-top: 10px;
	border-width: 3px;
	border-right-style: outset;
	width: 200px;
	height: 100px;
}

nav{
	padding-top: 5px;
	padding-right: 20px; 
	padding-left: 20px;
	border-width: 5px;
	border-radius: 2px 2px 45px 45px;
	border-style: outset;
	height: 95px;
}

header{

	background-color: #fff8e1;
}

.logo{
	width: 80px;
	height: 80px;
}

.form{
	margin-top: 8px;
}

.img-cuerpo{
	margin-top: 20px;
	width: 500px; 
	height: 500px;

}